.campsite-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  color: black;
  text-align: center;
  background-color: #eeeacc;
  position: relative;
}

.campsite-img {
  width: 100%;
  height: 70%; 
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.campsite-card:hover {
  cursor: pointer;
}

.campsite-name{
  padding: 3%;
  margin: 0;
}

.rv-info {
  text-align: left;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  color: #dcded5;
  cursor: pointer;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color:#446148;
}

@media screen and (max-width: 34.375em) {
  .campsite-name {
    font-size: large;
  }
}