.campsites-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 5%;
  grid-row-gap: 0.5%;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 2%;
}
