.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 9em;
  background-color:#85C67E;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 34.375em) {
  .header {
    height: 6em;
  }
}