.details-photo {
  width: 70%
}

@media screen and (max-width: 34.375em) {
  .details-photo {
    width: 90%
  }
}

@media screen and (min-width: 60em) and (max-width: 83em) {
  .details-photo {
    width: 70%
  }
}

@media screen and (max-width: 83em) {
  .details-photo {
    width: 50%
  }
}