.campsite-details {
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-top: 0px;
}

.campsite-activities {
  overflow: auto;
  max-height: 150px;
}

.image {
  height: 200px;
}

.image:hover {
  transform: scale(1.5);
}

.rv-and-amenities {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  margin-top: 1%;
}

.rv-info, .amenities-info {
  width: 40%;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 3%;
  padding-top: 0;
}

.amenities-info {
  text-align: left;
}

.amenities {
  overflow: auto; 
  max-height: 250px;
}

button {
  margin: 1%;
  padding: 1%
}

button:hover {
  cursor: pointer;
}