.campsite-details {
  padding: 3%;
  padding-top: 0px;
}

.activities-section {
  text-align: left;
}

.campsite-activities {
  overflow: auto;
  max-height: 150px;
}

.image {
  height: 200px;
}

.image:hover {
  transform: scale(1.5)
}