.campsite-details {
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-top: 0px;
}

.image {
  height: 200px;
}

.image:hover {
  transform: scale(1.5);
}

.rv-and-amenities {
  display: flex;
  justify-content: space-evenly;
  margin: 7%;
  margin-top: 1%;
}

.rv-info, .amenities-info {
  width: 35%;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 3%;
  padding-top: 0;
}

.amenities-info {
  text-align: left;
}

.amenities {
  overflow: scroll; 
  max-height: 15em;
}

.amenities:hover {
  cursor: all-scroll;
}

button {
  margin: 1%;
  padding: 1%
}

button:hover {
  cursor: pointer;
}

.description {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
}

@media screen and (max-width: 34.375em) {
  .amenities {
    overflow: scroll;
    max-height: 25em;
  }

  .rv-and-amenities {
    font-size: small;
  }

  .campsite-title {
    font-size: x-large;
  }

  .description {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 60em) {
  .amenities {
    max-height: 27em;
  }
}

@media screen and (min-width: 83em) {
  .main-section {
    display: flex;
  }
  .rv-and-amenities {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    width: 30%;
  }
  .details-photo{
    width: 100%;
  }
  .photos-section{
    width: 65%;
  }
  .rv-info, .amenities-info {
    width: 100%;
    margin-bottom: 5%;
  }
  h2 {
    font-size: large;
  }
}
